.license {
	line-height: 18px;
	opacity: 0.5;
    color: var(--secondary-color);
    text-align: center;
}

.wrapper {
    justify-items: center;
    gap: 10px;

    @media screen and (max-width: 1130px) {
    justify-items: end;
	}

    @media screen and (max-width: 425px) {
            justify-items: center;
    }
}
